@{
    ViewData["Title"] = "Home Page";
}


<style>
    /* Ana içerik */
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: calc(100vh - 60px); /* Header'dan kalan alan */
    }

    .title {
        font-size: 36px;
        font-weight: bold;
        color: #000;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* Büyük butonlar */
    .large-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #997C70;
        border: none;
        width: 400px;
        height: 400px;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .large-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    }

    .large-button:focus {
        outline: none;
        border: 2px solid #d49a7b;
    }

</style>



<main class="main-content">
    <h1 class="title">Depresyon Riski Testi</h1>
    <div class="button-container">
        <a href="/PredictEmployee/Index" class="large-button">Employee</a>
        <a href="/PredictStudent/Index" class="large-button">Student</a>
    </div>
</main>